# Arbiter Built-In Function
{{range .}}
## `{{.Name}}` {#fn-{{.Name}}}

Function prototype: `{{signature .FnDesc}}`

Function description: {{.FnDesc.Desc}}{{if gt (len .FnDesc.Params) 0}}

Function parameters:
{{range .FnDesc.Params}}
- `{{.Name}}`: {{.Desc}}{{end}}
{{end}}{{if gt (len .FnDesc.Returns) 0}}

Function returns:
{{range .FnDesc.Returns}}
- `{{typestr .}}`: {{.Desc}}{{end}}
{{end}}{{if .FnExp}}

Function examples:
{{range $index, $element := .FnExp.Progs}}
* Case {{$index}}:

    Script content:

    ```txt
{{indentLines .Script}}
    ```

    Standard output:

    ```txt
{{indentLines $element.Stdout}}
    ```

    {{if gt (len $element.TriggerResult) 0}}
    Trigger output:
    ```json
{{trigger_output $element.TriggerResult}}
    ```{{end}}{{end}}{{end}}
{{end}}
